.color-div {
    position: absolute;
    background-color: var(--color-secondary);
    min-width: 100vw;
    min-height: 160px;
    top: 0;
    left: 0;
    z-index: -1;
}

.custom-margin-left {
    margin-left: 95px;
}