.h100vh {
  min-height: 100vh;
}

.main-title {
  font-size: 50px;
}

.circle-shape {
  border-radius: 50%;
  position: fixed;
  z-index: 1;
}

.circle-shape.shape-1 {
  left: -50vw;
  top: -50vw;
  width: 75vw;
  height: 75vw;
  min-height: 400px;
  min-width: 400px;
}

.circle-shape.shape-2 {
  right: -50vw;
  bottom: -50vw;
  width: 75vw;
  height: 75vw;
  min-height: 400px;
  min-width: 400px;
}