@font-face {
    font-family: 'scripto';
    src: local('scripto'), url(./fonts/Scripto.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

html {
    --color-primary: #640dd6;
    --color-light: #e6e6e6;
    --color-light-darker: #d6d6d6;
    --color-secondary: #d60d9a;
    --color-dark: #242424;
    --color-danger: #bc0f23;
    --color-success: #049428;
}

.selectable:hover {
    cursor: pointer;
}

.scripto {
    font-family: 'scripto';
}

.caption {
    font-size: 11px;

}

.min-100-vh {
    min-height: 100vh;
}